
  <div class="container">
	<div class="row">
      <div class="col col-sm-12">
        <div class="panel">
          <div class="panel-body">
            <a href="http://portal.dongduk.ac.kr/unityBoard/base.do?cmd=downloadFileBySeq&upFileNm=2013022615363149739.hwp">목화관 생활 규칙 다운로드</a>
          </div>
        </div>
      </div>
  	</div>
  </div>

<!-- Begin Body -->
<div class="container">
	<div class="row">
  	<div class="col col-sm-3">
      <div id="sidebar">
      	<ul class="nav nav-stacked">
          <li><h3 class="highlight">사이트맵 <i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
          <li><a href="http://dongduk.ac.kr">동덕여자대학교 홈페이지</a></li>
          <li><a href="http://portal.dongduk.ac.kr">동덕여자대학교 포탈</a></li>
          <li><a href="http://dong-gam.net">동덕여대생 커뮤니티 동감</a></li>
				</ul>
      </div>
    </div>  
    <div class="col col-sm-9">
      <div class="panel">
        <h1>목화관에 오신 것을 환영합니다.</h1>
        <hr>
        <br><br><br>
        <div class="row">
          <div class="col col-sm-8">
            <img src="../main_image.jpg" class="img-responsive">
          </div> 
        	<div class="col col-sm-4">
            <img src="../a.PNG" class="img-responsive">
            <hr>
            <img src="../b.PNG" class="img-responsive"><br>
          </div>
          
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <table class="table table-striped">
            <tr align = "center"><td>구분</td><td>이용시간</td</tr>
            <tr align = "center">
              <td>세탁실</td><td>08:00~ 22:00</td>
            </tr>
            <tr align = "center">
              <td>커뮤니티룸</td><td>06:00~ 23:00</td>
            </tr>
            <tr align = "center">
              <td>피트니스존</td><td>06:00~ 23:00</td>
            </tr>
            <tr align = "center">
              <td>샤워실</td><td>06:00~ 24:00</td>
            </tr>
            <tr align = "center">
              <td>독서실</td><td>24시간</td>
            </tr>
          </table>

           <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">외박신청방법<font color = "red" size = "2">(당일기준 7일 이내로만 가능)</font></h2>
          <p class="lead">
          ● 신청하기 → 외박신청<br>
          ● 외박 사유, 시작 일자, 종료 일자 설정<br>
          ● 외박 신청버튼<br>
          ● 내 정보에서 승인확인</p>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">커뮤니티룸신청방법<font color = "red" size = "2">(당일만 가능)</font></h2>
          <p class="lead">
            ● 신청하기 → 커뮤니티 룸 신청<br>
            ● 신청 사유 설정<br>
            ● 커뮤니티 룸 신청 버튼 클릭 <br>
            ● 내 정보에서 승인 확인</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">정보수정방법</h2>
          <p class="lead">
          ● 내 정보<br>
          ● 내 정보 수정하러 가기</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
          </div>
      	</div> 
  	</div>
  </div>
</div>


