
<table border=1 width="800">
    <tr>
        <td>호실</td>
        <td><%= current_domitory.room_number %></td>
        <td>학과</td>
        <td><%= current_domitory.major %></td>
        <td>학번</td>
        <td><%= current_domitory.student_number %></td>
        <td>성명</td>
        <td><%= current_domitory.name %></td>
    </tr>
</table>
<br><br><br><br><br>
전체 외박 신청: *일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 일반 외박 신청: *일
<br>
<table border=1 width="800">
    <tr>
        <td>외박 신청 날짜</td>
        <td>처리 결과</td>
        <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tr>
</table>
<table border=1 width="800">
    <tr>
        <td>커뮤니티룸 신청 날짜</td>
        <td>처리 결과</td>
        <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tr>
</table>
<br><br><br><br><br>

